@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: 'Oswald', sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.car1{
    background-image: url("/assets/images/home/Carousel/Carousel1.jpg");
    height:931px;
    background-repeat: no-repeat;
    background-size: 1920px 931px;
    background-attachment: scroll;
    max-width: 1920px;
    font-weight: bold;
    
}
body::-webkit-scrollbar {
    display: none;
}
.car1 .deliv{
    height:5px;
    text-align:center;
    color:#F9EDED;
    font-size:16px;
    padding-top:10px;
}
.car1 .nav{
    background:#F26693;
    height:118px;
    width:100%;
    display:inline-block;
    margin-top:20px;
}
.car1 .nav img{
    width:180px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:-90px;
}
.car1 .nav .navlist{
    padding-top:30px;
    
}
.car1 .nav .navlist li{
    display:inline;
    margin-left:100px;
}
.car1 .nav .navlist li a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:17px;
}
.car1 .nav .listright{
    float:right;
    margin-top:-180px;
}
.car1 .nav .listright ul{
    display:inline-block;
    
}
.car1 .nav .listright ul li{
    margin-right:80px;
    display:inline;    
}
.car1 .nav .listright ul li a{
    text-decoration: none;
    color:#FFFFFF
}
.car1 .nav .listright ul li input{
    background-color: rgb(217, 217, 217, 0.6);
    color:black;
    border:none;
    width:200px;
    height:24px;
}
.boxslide{
    background-color: rgb(203, 156, 78, 0.6);
    width:20%;
    border-radius:25%;
    height:400px;
    margin-left:80px;
    
}
.boxslide .titlebox {
    font-size: 30px;
    padding-top:50px;
    padding-left:50px;

}
.boxslide .textbox{
    font-size:20px;
    padding-top:0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.boxslide .shopbtn {
    margin:0 auto;
    padding-top:0px;
    padding-left: 50px;
    padding-right: 50px;
    display:flex;
    text-align: center;
}
.boxslide .shopbtn .shopnow {
    text-align: center;
    margin:0 auto;
    background:#542D00;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    
}
.boxslide .shopbtn .shopnow span a{
    text-decoration: none;
    color:#C69A53;
    font-size: 25px;
}
.car2{
    background:#FAA2C9;
    height:931px;
    max-width:1920px;
}
.car2 .car2container{
    width:800px;
    margin:0 auto;
    padding-top:80px;
}
.car2 .car2container .car2title{
    font-size: 50px;
    font-weight: bolder;
    text-align:center;
}
.car2 .car2container .car2bodytext{
    font-size:25px;
    margin-top:50px;
    font-weight: bolder;
    text-align:center;
}
.car2 .carcontainer .car2gallery{
    height:500px;
}
.car2 .car2gallery {
    padding-top:1%;
    height:500px;
}
.car2 .car2gallery .img{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    text-align: center;
}
.car2 .car2gallery .img1{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-left:10px;
}
.car2 .car2gallery .img5{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-right:5px;
}
.prodname {
    width:300px;
    display:inline-block;
    text-align: center;
 
    font-size:25px;
}
.prod1 {
    width:300px;
    display:inline-block;
    text-align: center;

    margin-left:10px;
}
.prod5 {
    width:300px;
    display:inline-block;
    text-align: center;
    margin-right:5px;
}
.car3{
    background:#EDBEC7;
    height:931px;
    max-width: 1920px;
}
.car3 .car2container3{
    width:800px;
    margin:0 auto;
    padding-top:80px;
}