@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: 'Oswald', sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.car1{
    background-image: url("/assets/images/home/Carousel/Carousel1.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    font-weight: bold;
    
}
body::-webkit-scrollbar {
    display: none;
}

 .nav{
    background:#F26693;
    height:13vh;
    width:100%;
    display:inline-block;

}
.nav img{
    width:180px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:-80px;
}
 .nav .navlist{
    padding-top:30px;
    
}
 .nav .navlist li{
    display:inline;
    margin-left:50px;
}
 .nav .navlist li a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:17px;
}
 .nav .listright{
    float:right;
    display:inline;
    margin-top:-170px;

    
}
 .nav .listright ul{
    display:inline-block;
    list-style: none;
    
}
 .nav .listright ul li{
    margin-right:80px;
    display:inline-block;    
}
.nav .listright ul li a{
    text-decoration: none;
    color:#FFFFFF;
}
.nav .listright ul li input{
    background-color: rgb(217, 217, 217, 0.6);
    color:black;
    border:none;
    width:200px;
    height:30px;
    font-size: 20px;
    font-weight:bold;
}
 .nav .listright .svg1{
    display:block;
}

.boxslide{
    background-color: rgb(203, 156, 78, 0.6);
    width:20%;
    max-width:20%;
    border-radius:25%;
    height:400px;
    margin-left:80px;
    
}
.boxslide .titlebox {
    font-size: 30px;
    padding-top:50px;
    padding-left:50px;

}
.boxslide .textbox{
    font-size:20px;
    padding-top:0px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.boxslide .shopbtn {
    margin:0 auto;
    padding-top:0px;
    padding-left: 50px;
    padding-right: 50px;
    display:flex;
    text-align: center;
}
.boxslide .shopbtn .shopnow {
    text-align: center;
    margin:0 auto;
    background:#542D00;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
    
}
.boxslide .shopbtn .shopnow span a{
    text-decoration: none;
    color:#C69A53;
    font-size: 25px;
}
.car2{
    background:#FAA2C9;
    height:110vh;
}
.car2 .car2container{
    width:800px;
    margin:0 auto;
}
.car2 .car2container .car2title{
    font-size: 50px;
    font-weight: bolder;
    text-align:center;
}
.car2 .car2container .car2bodytext{
    font-size:25px;

    font-weight: bolder;
    text-align:center;
}
.car2 .carcontainer .car2gallery{
    height:500px;
}
.car2 .car2gallery {
    height:500px;
}
.car2 .car2gallery .img{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    text-align: center;
}
.car2 .car2gallery .img1{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-left:10px;
}
.car2 .car2gallery .img5{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-right:5px;
}
.prodNames{
    display:flex;
}
.prodname {
    width:300px;
    display:inline-block;
    text-align: center;
 
    font-size:25px;
}
.car2gallery .prodNames .prod2{
    font-size:20px;
    margin-left:100px;
}
.prod1 {
    width:300px;
    display:inline-block;
    text-align: center;

    margin-left:10px;
}
.prod5 {
    width:300px;
    display:inline-block;
    text-align: center;
    margin-right:5px;
}
/* 



CAR 3 GALLERY




*/
.car3{
    padding-top:100px;
    background:#EDBEC7;
    height:931px;
}
.car3 .car3container{
    width:800px;
    margin:0 auto;
    padding-top:80px;
}
.car3 .car3container .car3title {
    font-size: 50px;
    font-weight: bolder;
    text-align:center;
}
.car3 .car3container .car3text{
    font-size:25px;
    margin-top:50px;
    font-weight: bolder;
    text-align:center;

}

.car3 .car3container .car3gallery{
    height:500px;
}
.car3 .car3gallery {
    height:500px;
    margin-left:140px;
}
.car3 .car3gallery .img{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    text-align: center;
}
.car3 .car3gallery .img1{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-left:10px;
}
.car3 .car3gallery .img5{
    width:200px;
    height:300px;
    display:inline-block;
    margin:50px;
    margin-right:5px;
}
.car3  .car3gallery .prodNames{
    display:flex;
}
.car3  .car3gallery .prodNames .prodname {
    width:300px;
    font-size:23px;
    margin-left:-60px;
}
.prod1 {
    width:300px;
    display:inline-block;
    text-align: center;

    margin-left:10px;
}
.prod5 {
    width:300px;
    display:inline-block;
    text-align: center;
    margin-right:5px;
}

/* 



CAR 4 GALLERY




*/
.car4{
    padding-top:50px;
    background:#F485AD;
    height:931px;
}
.car4 .car4container{
    width:900px;
    margin:0 auto;
    padding-top:80px;
}
.car4 .car4container .car4title {
    font-size: 50px;
    font-weight: bolder;
    text-align:center;
}
.car4 .car4container .car4text{
    font-size:25px;
    margin-top:50px;
    font-weight: bolder;
    text-align:center;
}

.car3 .car4container .car4gallery{
    height:500px;
}
.car4 .car4gallery {
    height:500px;
    margin-left:100px;
    margin-top:150px;
}
.car4 .car4gallery .img{
    width:200px;
    height:300px;
    display:inline-block;
    margin-left:100px;
    margin-right:100px;
    text-align: center;
}
.car4 .car4gallery .img1{
    width:200px;
    height:300px;
    display:inline-block;

}

.prodname {
    width:300px;
    display:inline-block;
    text-align: center;
    font-size:25px;
    margin-left:100px;
    margin-right:100px;
}
.prod2 {
    margin-left:5px;
}
.prod3 {
    margin-left: 2px;
}
.footer {
    background:#FAA2C9;
    height:75vh;
}
.footercontents{
    margin-left:100px;
}
.footer .img {
    margin-left:50px;
    padding-top:40px;
}
.footer .footerlist{
    margin-top:20px;
}
.footer .footerlist .list{
    display:inline-block;
}
.footer .footerlist .list ul li {
    list-style-type: none;
    margin:10px;
}
.footer .footerlist .list ul li a {
    color:black;
    text-decoration:none;
    font-size:20px;
}

.footer .footerlist .list2{
    float:left;
}
.footer .footerlist .list3{
    float:right;
    margin-right:200px;
    margin-top:-200px;
}
.footer .footerlist .list3 ul li .a1{
    font-weight:bolder;
}
.footer .footerlist .list3 ul li{
    margin-top:40px;
    margin-bottom:40px;
}
.footer .footerline{
    border-top:1px solid black;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
}
.footer .copyright{
    margin-left:100px;
    margin-top:20px;
    
}